.container {
  margin: 0 5%;
}

.jumbotron {
  text-align: center;
  background: white;
  padding-bottom: 2rem;
  padding-top: 5rem;

  img {
    width: 268px;
    //height: auto;
    display: block;
    margin: 0 auto;
  }
}





