.search-section {
  width: 100%;
  height: 50rem;

  .search {
    display: flex;
    justify-content: center;
    height: 6.7rem;
    background: $background-text-color;

    .input-group-append {
      display: flex;
    }
    
    &__input {
      width: 100%;
      border: none;
      font-size: 1.5rem;
      padding-left: 2rem;
      border-radius: .5rem;
      background: $background-text-color;
    }

    &__button {
      width: 6rem;
      border-radius: .5rem ;
      background: $background-text-color;
    }

    .fa-search {
      font-size: 2.5rem;
    }
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 2rem;

    &__btn {
      position: relative;
      width: 10rem;
      height: 3.7rem;
      background: $primary-color;
      margin-top: 1rem;
      margin-right: .5rem;
      border-radius: .5rem;
      color: #fff;
      font-weight: bold;
      font-size: 1.4rem;
      text-align: center;

      .fa-times-circle {
        position: absolute;
        font-size: 1.8rem;
        top: .9rem;
        right: 1rem;
      }
    }
  }

  .select-group {
    display: flex;

    .select-box {
      //position: relative;
      display: flex;
      flex-direction: column;
      margin-right: 2rem;

      ::placeholder {
        color: #fff;
      }
  
      &__input {
        width: 17rem;
        height: 6.5rem;
        border-radius: .5rem;
        border: none;
        font-weight: bold;
        font-size: 1.8rem;
        padding-left: 1.2rem;
        color: #fff;
      } 

      &__btn {
        background: url("../src/img/arrow-down.svg");
        background-size: contain;
        background-repeat: no-repeat;     
        position: absolute;
        color: #fff;
        height: 100%;
        width: 3.6rem;
        top: 1.4rem;
        right: 1rem;
        transition: .3s;
      }
             
      .option-search {
        display: flex;
        justify-content: space-around;
        position: relative;
      }
      
      .ingredients {
        background: $primary-color;       
      }

      .equipment {
        background: $secondary-color;
      }

      .ustensils {
        background: $third-color;
      }

      .option-container {
        display: none;
        flex-direction: column;
        transition: .3s;
        overflow: hidden;
        order: 1;
      }

      .option-container.active {
        display: flex;
      }

      .option-container.active + .select-box__btn {
        transform: rotateX(180deg);
        top: -6px;
        background: url("../src/img/keyboard-arrow-up.svg");
      }
    }
  }


}



